#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding: 2rem;
  padding-top: 70px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.producto-lista {
  display: flex;
  gap: 20px;
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 180px;
  min-height: 250px;
  border-radius: 10px;
}

.producto-imagen {
  display: flex;
  width: 150px;
  height: 150px;
  object-fit:scale-down;
}

.producto-detalles {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.producto-titulo,
.producto-precio {
  margin: 10px 0;
}

#contenedor-productos {
  margin-left: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.itemDetail img {
  width: 250px;
  height: auto;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (max-width: 1350px) {
  #contenedor-productos {
    margin-left: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

@media (max-width: 930px) {
  #contenedor-productos {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

@media (max-width: 722px) {
  #contenedor-productos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

@media (max-width: 522px) {
  #contenedor-productos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}