.footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 85%;
  max-width: 1200px;
}

.footer-logo img {
  width: 120px;
  border-radius: 8px;
}

.footer-categorias {
  display: flex;
  align-items: flex-start;
  margin-top: 15px
}

.footer-categorias div {
  margin: 5px 50px;
}

.footer-categorias a {
  color: #fff;
  text-decoration: none;
}

.footer-categorias a:hover {
  text-decoration: underline;
}

.footer-social {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
  margin: 5px 0;
}

.footer-social a {
  display: flex;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  color: inherit;
}

.footer-social a .svg-inline--fa {
  margin-right: 8px;
}

.footer-social a:hover {
  text-decoration: underline;
}